/* You can add global styles to this file, and also import other style files */
.odd{
    color: blue;
    background-color: beige;
}
.even{
    color: green;
    background-color: violet;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-image: url('./assets/black-gradient.jpg');
background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;}
